@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant can-hover (@media (hover: hover) and (pointer: fine));
  
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    html {
        @apply scroll-smooth;
    }
    h1 {
        @apply sm:text-5xl font-extrabold text-4xl;
    }
    h2 {
        @apply sm:text-4xl font-extrabold text-3xl;
    }
    h3 {
        @apply sm:text-3xl font-extrabold text-xl;
    }
    h4 {
        @apply sm:text-2xl font-extrabold text-lg;
    }
    h5 {
        @apply sm:text-xl font-medium text-base;
    }
    h6 {
        @apply sm:text-lg text-sm;
    }
    p {
        @apply sm:text-base text-xs;
    }
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}